.item {
  padding: 18px 12px;
  margin: 3px;
  font-family: "Roboto", sans-serif;
  /* width: 200px; */
  height: 10px;
  font-size: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.item:hover {
  background-color: #ececec;
  border-radius: 4px;
}
